USE [master]
GO
/****** Object:  Database [LeaveDB]    Script Date: 29-09-2019 20:55:18 ******/
CREATE DATABASE [LeaveDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LeaveDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LeaveDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LeaveDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LeaveDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LeaveDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LeaveDB]
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 29-09-2019 20:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[LeaveID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID] [nvarchar](255) NOT NULL,
	[LeaveDescription] [nvarchar](255) NOT NULL,
	[TempContact] [int] NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[LeaveType] [nvarchar](50) NOT NULL,
	[LeaveTypeCount] [smallint] NOT NULL,
	[TotalLeaveCount] [smallint] NOT NULL,
	[Status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Leave] PRIMARY KEY CLUSTERED 
(
	[LeaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 29-09-2019 20:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[Id] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Photo] [varbinary](max) NULL,
	[Address] [nvarchar](255) NULL,
	[DOB] [date] NULL,
	[Designation_Id] [int] NOT NULL,
	[Pan] [nvarchar](10) NULL,
	[Aadhar] [numeric](10, 0) NULL,
	[Phno] [numeric](10, 0) NULL,
	[Fingerprint] [varbinary](max) NULL,
	[Dept_Id] [int] NOT NULL,
	[Qualification] [nvarchar](50) NOT NULL,
	[Pub_No] [nvarchar](50) NOT NULL,
	[Prev_Exp] [nvarchar](50) NOT NULL,
	[Events] [nvarchar](50) NOT NULL,
	[Project_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29-09-2019 20:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[ActivationCode] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD  CONSTRAINT [FK_Leave_Teacher] FOREIGN KEY([ID])
REFERENCES [dbo].[Teacher] ([Id])
GO
ALTER TABLE [dbo].[Leave] CHECK CONSTRAINT [FK_Leave_Teacher]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Teacher] FOREIGN KEY([Id])
REFERENCES [dbo].[Teacher] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Teacher]
GO
USE [master]
GO
